QTableView{
        selection-background-color: darkCyan;
        alternate-background-color: rgb(120, 120, 120);
        background-color: rgb(100, 100, 100);
}

QTableView QLabel{
color: darkCyan;
}
QTableView::item{
color:white;
font:bold;
}
QTableView::item:focus{
color:white;
}
QTableView::item:selected{
color:white;
}
